    .gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .gallery-item {
        flex-basis: calc(33.333% - 10px);
    }

    .gallery-image {
        width: 100%;
        display: block;
        height: auto;
    }